Server/.idea/
Server/base.db
Server/storage.py
Server/env/
Server/tmp/
Server/music/

Client/.gradle/
Client/.idea/
Client/local.properties
Client/Client.iml
Client/app/build/

.cache*
*.pyc
Client/gradle/
