sqlalchemy
click
mutagen
chardet
git+https://github.com/acrcloud/acrcloud_sdk_python
sqlalchemy_utils
spotipy
pydub
youtube_dl
requests
bs4
ffprobe
werkzeug
flask-sqlalchemy
flask
flask_json
flask-socketio
gevent
gevent-websocket